{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Decision" %}
{% endblock %}

{% block content %}
    <p>
        {% blocktrans with contrib=Constants.endowment %}
        Please select the person with whom you will interact, knowing that you will put {{ contrib }} tokens in the collective account.
        {% endblocktrans %}
    </p>
    <table>
        <tr>
            <td><img src="{% static img_left %}" width="450px" /></td>
            <td><img src="{% static img_right %}" width="450px"/></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                {% trans "Which player do you want to interact with?" %}
            </td>
        </tr>
        <tr>
            <td style="text-align: center;"><strong>{{ form.CF_choice.0 }}</strong></td>
            <td style="text-align: center;"><strong>{{ form.CF_choice.1 }}</strong></td>
        </tr>
    </table>
    <p>&nbsp;</p>

    {% next_button %}

{% endblock %}
