{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Decision" %}
{% endblock %}

{% block content %}
    <p>
        {% blocktrans with contrib=Constants.endowment %}
        Please select the person with whom you will interact, knowing that you will put {{ contrib }} tokens in the collective account.
        {% endblocktrans %}
    </p>
    <table>
        <tr>
            {% if self.player.CF_cooperator_on_left %}
                <td><img src="{% static coop_pic %}" width="450px" /></td>
                <td><img src="{% static noncoop_pic %}" width="450px"/></td>
            {% else %}
                <td><img src="{% static noncoop_pic %}" width="450px"/></td>
                <td><img src="{% static coop_pic %}" width="450px" /></td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                {% trans "Which player do you want to interact with?" %}
            </td>
        </tr>
        <tr>
            <!--<td style="text-align: center;"><strong>{% trans "Left" %}</strong></td>-->
            <td style="text-align: center;"><strong>{{ form.CF_choice.0 }}</strong></td>
            <td style="text-align: center;"><strong>{{ form.CF_choice.1 }}</strong></td>
            <!--<td style="text-align: center;"><strong>{% trans "Right" %}</strong></td>-->
        </tr>
    </table>
    <p>&nbsp;</p>
    <!--{% trans "Which player do you want to interact with?" %}
    {% formfield player.CF_choice label="" %}-->

    {% next_button %}

{% endblock %}
