{% load staticfiles otree %}

    <p>
        In this second part you will be shown successively 7 pairs of individual
        faces. Each pair is composed of photographs of two individuals. In each
        pair, the two individuals that appear on the photographs have already
        participated in the very same game that you played in Part 1 of this
        experiment. In each pair, one of them had placed 0 token on the group
        account and the other had placed 20 tokens on the group account.
        In each pair, you have to select the individual with whom you want to
        interact in the very same game as the one you played in Part 1 of this
        experiment, knowing that the computer will automatically place your
        20 tokens in the group account. Hence, the total number of tokens
        placed in the group account is equal to the 20 tokens placed by
        yourself plus the number of tokens placed by the individual whom you
        selected to interact with (either 0 or 20 tokens). Thus, if you select
        the individual who placed 0 token in the group account, your gain
        will be equal to 0 (individual account) + 20 x 0.6 (group account) =
        12 ecus. Alternatively, if you select the individual who placed 20
        tokens in the group account, your gain will then be equal to 0
        (individual account) + 40 x 0.6 (group account) = 24 ecus.<br>
        One of the seven interactions will be randomly selected at the end of
        the part, and your gain at this interaction will constitute your
        payoff for this part. The conversion rate is 1 ecu = ${{ convertion_rate }}.
    </p>

    <p>&nbsp;</p>

    <figure>
        <figcaption>
            <strong>The decision screen</strong>
        </figcaption>
        <img src="{% static 'coopfaceonline/coopface__decision__anonyme__en.png' %}" />
    </figure>
