{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Summary of part 2" %}
{% endblock %}

{% block content %}

    <!--<table class="table">
        <tr>
            <th>{% trans "Interaction" %}</th>
            <th>{% trans "Tokens put by" %} <br>{% trans "selected player" %}</th>
            <th>{% trans "Your payoff" %}</th>
        </tr>
        {% for p in player.in_all_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>{% if p.CF_choose_cooperator %} {{ Constants.endowment }} {% else %} 0 {% endif %}</td>
                <td>{{ p.CF_payoff }}</td>
            </tr>
        {% endfor %}
    </table>-->
    <p>
        {% blocktrans with nb_period=Constants.num_rounds nb_found=player.CF_number_of_cooperators_found %}
        You have selected the individual who placed 20 tokens in the collective
        account in {{ nb_found }} of the {{ nb_period }} pairs shown to you.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans with question=CF_period_selected_for_pay %}
        In the interaction that has been randomly selected for
        your payoff of this part of the experiment, the player you've selected
        put
        {% endblocktrans %}
        {% if CF_choose_cooperator %}
            {{Constants.endowment}} {% trans "tokens" %}
        {% else %}
            {% trans "0 token" %}
        {% endif %}
        {% trans "in the collective account." %}
        {% trans "Your payoff for this part, if you are selected to be paid, is equal to " %} {{ player.CF_final_payoff }}.
    </p>

    {% next_button %}

{% endblock %}


