{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Part 2" %}
{% endblock %}

{% block content %}
    <p>
        {% blocktrans with contrib=Constants.endowment %}
        Please select the person with whom you will interact, knowing that
        you will put {{ contrib }} tokens in the collective account.
        {% endblocktrans %}
    </p>
    <table>
        <tr>
            {% if self.player.left_is_coop %}
                <td><img src="{% static coop_pic %}" width="200px" /></td>
                <td><img src="{% static noncoop_pic %}" width="200px"/></td>
            {% else %}
                <td><img src="{% static noncoop_pic %}" width="200px"/></td>
                <td><img src="{% static coop_pic %}" width="200px" /></td>
            {% endif %}
        </tr>
    </table>
    <p>&nbsp;</p>
    {% trans "Which player do you want to interact with?" %}
    {% formfield player.choice_id label="" %}

    {% next_button %}

{% endblock %}
