{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Final questionnaire" %}
{% endblock %}

{% block content %}

{% trans "The questionnaire below is anonymous, so please answer sincerely" %}

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}


{% block scripts %}
    <script>
        /* we disabled the student_scholarship combobox
        if the subject is not a student */
        window.onload = function() {
            var scholar_no = $("#id_student_scholarship_0");
            var scholar_yes = $("#id_student_scholarship_1");
            scholar_no.prop("disabled", true);
            scholar_yes.prop("disabled", true);
            var student_no = $("#id_student_0");
            student_no.click(function(){
            scholar_no.prop("disabled", true);
            scholar_yes.prop("disabled", true);
            });
            var student_yes = $("#id_student_1");
            student_yes.click(function(){
                scholar_no.prop("disabled", false);
                scholar_yes.prop("disabled", false);
            });
        }
    </script>

{% endblock %}
