{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Final questionnaire" %}
{% endblock %}

{% block content %}

{% trans "The questionnaire below is anonymous, so please answer sincerely" %}

    {% for field in form %}
        {% if "hidden" not in field.name %}
            {% formfield field %}
        {% endif %}
    {% endfor %}

    <input type="hidden" name="hidden_screen_height" id="id_hidden_screen_height" />
    <input type="hidden" name="hidden_screen_width" id="id_hidden_screen_width" />
    <input type="hidden" name="hidden_play_on_mobile" id="id_hidden_play_on_mobile" />

    {% next_button %}

{% endblock %}


{% block scripts %}
    <script>
        /* we disabled the student_scholarship combobox
        if the subject is not a student */
        window.onload = function() {
            // enable/disable scholar depending on student answer
            var scholar_no = $("#id_student_scholarship_0");
            var scholar_yes = $("#id_student_scholarship_1");
            scholar_no.prop("disabled", true);
            scholar_yes.prop("disabled", true);
            var student_no = $("#id_student_0");
            student_no.click(function(){
            scholar_no.prop("disabled", true);
            scholar_yes.prop("disabled", true);
            });
            var student_yes = $("#id_student_1");
            student_yes.click(function(){
                scholar_no.prop("disabled", false);
                scholar_yes.prop("disabled", false);
            });

            // enable/disable scholar_level depending on scholar answer
            var scholar_level = $("#id_student_scholarship_level");
            scholar_level.prop("disabled", true);
            scholar_no.click(function(){
                scholar_level.prop("disabled", true);
            });
            scholar_yes.click(function() {
                scholar_level.prop("disabled", false);
            });

            // hidden values
            $("#id_hidden_screen_height").val(screen.height);
            $("#id_hidden_screen_width").val(screen.width);
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                $("#id_hidden_play_on_mobile").val(1);
            } else {
                $("#id_hidden_play_on_mobile").val(0);
            }
        }
    </script>

{% endblock %}
