{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "End of the experiment" %}
{% endblock %}

{% block content %}

    <p>{% trans "The experiment is over. Thank you for your participation." %}</p>

    <p>
        {% blocktrans %}
        At the end of this online experiment the server will randomly formed
        groups of size two in order to compute the payoffs for part 1 of the
        experiment.
        {% endblocktrans %}
        <br>
        {% blocktrans %}
        The server will also randomly select the participants that will be
        paid for this experiment (half of the participants).
        {% endblocktrans %}
        <br>
        {% blocktrans %}
        If you are selected to be paid, you will receive an email informing you
        about your payoff for both parts and how you can collect it.
        {% endblocktrans %}
    </p>
    <p>
        {% trans "You can write some comments about the experiment below" %}
        {% formfield player.comments label="" %}
    </p>

    <button>{%trans "Save" %}</button>

{% endblock %}
