{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Instructions - Partie 2" %}
{% endblock %}

{% block content %}
    <p>
        Dans cette partie vous allez successivement avoir sur votre écran 7 paires
        d'individus en photo. Pour chaque paire vous allez devoir décider avec
        quel individu vous souhaitez interagir dans le même jeu que celui de
        la partie 1, sachant que votre investissement dans le compte collectif
        sera de 20 jetons automatiquement, c'est à dire l'ensemble de votre
        dotation. Concrètement, à l'écran vous devrez choisir si vous souhaitez
        interagir avec l'individu de gauche ou de droite en cliquant sur le
        bouton correspondant (Capture d'écran ci-dessous). Dans chaque paire,
        un individu a investi 0 jeton dans le compte collectif et l'autre a
        investi 20 jetons dans une expérience conduite précédemment dans des
        conditions identiques. Le placement gauche/droite à l'écran de ces
        individus est aléatoire.
        Le total placé dans le compte collectif correspond à la somme du nombre
        de jetons placé par l'individu sélectionné et par vous (20 jetons).
        Ainsi si vous sélectionnez l'individu qui a placé 0 jeton dans le
        compte collectif votre gain pour cette interaction sera égal à 0
        (compte individuel) + 20x0.6 = 12 ecus, et si vous sélectionnez
        l'individu qui a placé 20 jetons dans le compte collectif votre gain
        sera égal à 0 (compte individuel) + 40x0.6 = 24 ecus.

        Une des 7 interactions sera sélectionnée au hasard à la fin de la
        partie pour déterminer votre gain pour cette partie.
        Le taux de conversion des ecus en euros est le suivant: 1 ecu = 0.5€.
    </p>
    <img src="{% static coopfaceonline/coopface__decision__anonyme.png %}" />


    {% next_button %}

{% endblock %}
