{% load staticfiles otree %}

    <p>
        L'expérience à laquelle vous allez participer est destinée à l'étude
        de la prise de décisions. Nous vous demandons de bien vouloir lire
        intégralement les instructions. Ces instructions doivent vous
        permettre de comprendre l'expérience. <br>
        L'expérience comporte deux parties. Les instructions ci-dessous sont
        celles de la partie 1. Vous aurez les instructions de la partie 2
        lorsque la partie 1 sera terminée.<br>
        Au cours de l'expérience les gains sont exprimés en ecus. Le taux de
        conversion des ecus en euros est donné dans les instructions de chaque
        partie.
    </p>
    <p>&nbsp;</p>
    <h3>
        Partie 1
    </h3>
    <p>
        Au début de l'expérience l'ordinateur central va former aléatoirement
        des groupes de deux joueurs. Vous ne pouvez pas identifier l'autre
        membre de votre groupe et celui-ci ne peut pas vous identifier.
        Vous disposez d'une dotation de 20 jetons que vous devez entièrement
        répartir entre deux comptes: votre compte individuel et un compte
        collectif commun aux deux membres du groupe (vous et l'autre membre de
        votre groupe). Vous devez plus exactement décider du nombre de jetons que
        vous placez sur le compte collectif. Les jetons restants seront
        automatiquement placés sur votre compte individuel. Vous êtes libre
        de placer, sur le compte collectif, n'importe quel nombre entier de
        jetons compris entre 0 et 20, à savoir 0 jeton, 1 jeton, ..., 19
        jetons ou 20 jetons (votre dotation entière).
    </p>
    <p>&nbsp;</p>
    <h4>
        Fonctionnement des comptes
    </h4>
    <h5>
        Votre compte individuel
    </h5>
    <p>
        Chaque jeton placé sur votre compte individuel vous rapporte 1 ecu.
        Ainsi, si vous placez 6 jetons sur votre compte individuel, ce dernier
        vous rapporte 6 ecus. Votre compte individuel ne rapporte des ecus
        qu'à vous seul.
    </p>
    <h5>
        Le compte collectif
    </h5>
    <p>
        Chaque jeton placé sur le compte collectif rapporte 0.6 ecus à tous
        les membres du groupe. Ainsi, si vous placez 6 jetons sur le compte
        collectif, ce dernier rapporte 3.6 ecus à chaque membre du groupe
        (3.6 ecus à vous et 3.6 ecus à l'autre membre de votre groupe). De
        la même façon, chacun des jetons placés sur le compte collectif
        par l'autre membre de votre groupe rapporte 0.6 ecu à tous les
        membres du groupe. Dit autrement le nombre total de jetons placés dans
        le compte collectif est multiplié par 1.2 puis divisé en deux parts
        égales.
        <br>
        Si, par exemple, il y a 30 jetons placés sur le compte collectif,
        votre gain issu de ce compte est de (30 x 1.2) / 2 = 18 ecus. Le gain
        issu de ce compte pour l'autre membre de votre groupe est aussi
        de 18 ecus.
    </p>
    <p>&nbsp;</p>
    <h4>
        Gain
    </h4>
    <p>
        Votre gain est égal à la somme de votre gain issu de votre compte
        individuel et de votre gain issu du compte collectif.
    </p>
    <p>&nbsp;</p>
    <h4>
        Exemple (illustré par la vidéo ci-dessous)
    </h4>
    <p>
        Vous placez 14 jetons sur le compte collectif, et donc 6 jetons
        sur votre compte individuel. Supposons que l'autre membre de votre
        groupe place 12 jetons sur le compte collectif. En tout, il y a
        donc 14+12=26 jetons sur le compte collectif. Votre gain est alors
        égal à 6 ecus (compte individuel) + (26 x 1.2) / 2 (compte collectif) =
        21.6 ecus. Le gain de l'autre membre de votre groupe est
        12 + (26 x 1.2) / 2 = 27.6 ecus.
    </p>

    <video controls src="{% static 'coopfaceonline/coopface_video.m4v' %}">
        Votre navigateur ne permet pas de lire la vidéo. Mais ne vous inquiétez
        pas, c'était simplement une illustration, cela ne vous empêche pas de
        participer à l'expérience.
    </video>

    <p>&nbsp;</p>

    <h4>
        Derniers détails
    </h4>
    <p>
        Vous n'aurez qu'une décision à prendre. <br>
        Vous et les autres participants à l'expérience allez prendre votre
        décision de manière indépendantes les uns des autres. Lorsque toutes
        les décisions auront été prises et l'expérience terminée, l'ordinateur
        formera aléatoirement des groupes de deux, ce qui permettra de calculer les
        gains de chacun conformément à la description ci-dessus. <br>
        Le taux de conversion est 1 ecu = {{ convertion_rate }}€.
    </p>