    <p>
        The experiment you are going to participate aims at studying the
        decision process. We ask you to silently read the full instructions.
        These instructions should let you understand the experiment. <br>
        The experiment is composed of two parts. The instructions below are
        those of part 1. The screen will display the instructions for part 2
        when the first part will be over.<br>
        During the experiment the payoff are in ecus. The conversion rate
        of ecus in euros is given at the end of the instructions.
    </p>
    <p>&nbsp;</p>
    <h3>
        Part 1
    </h3>
    <p>
        At the beginning of the experiment the server will form random
        groups of two participants. You are not able to identify the other
        player in your group and he/she is not able to identify yourself. You are
        endowed with 20 tokens. You must decide how you divide these 20 tokens
        between two accounts: your individual account and a collective account
        that is common to the two members of your group (you and the other
        member). You concretely has to enter on the screen the number of tokens
        you put in the collective account. The tokens that will stay will
        automatically by put in your individual account. You are free to put
        any tokens you want in the collective account. The only constraint is
        that it has to be an integer comprise between 0 and your endowment,
        that is 0 token, 1 token, ..., 19 tokens, 20 tokens
        (your full endowment).
    </p>
    <p>&nbsp;</p>
    <h4>
        The accounts
    </h4>
    <h5>
        Your individual account
    </h5>
    <p>
        Chaque jeton placé sur votre compte individuel vous rapporte 1 ecu.
        Ainsi, si vous placez 6 jetons sur votre compte individuel, ce dernier
        vous rapporte 6 ecus. Votre compte individuel ne rapporte des ecus
        qu'à vous seul.
    </p>
    <h5>
        Le compte collectif
    </h5>
    <p>
        Chaque jeton placé sur le compte collectif rapporte 0.6 ecus à tous
        les membres du groupe. Ainsi, si vous placez 6 jetons sur le compte
        collectif, ce dernier rapporte 3.6 ecus à chaque membre du groupe
        (3.6 ecus à vous et 3.6 ecus à l'autre membre de votre groupe). De
        la même façon, chacun des jetons placés sur le compte collectif
        par l'autre membre de votre groupe rapporte 0.6 ecu à tous les
        membres du groupe.
        <br>
        Si, par exemple, il y a 30 jetons placés sur le compte collectif,
        votre gain issu de ce compte est de 30 x 0.6 = 18 ecus. Le gain
        issu de ce compte pour l'autre membre de votre groupe est aussi
        de 18 ecus.
    </p>
    <p>&nbsp;</p>
    <h4>
        Gain
    </h4>
    <p>
        Votre gain est égal à la somme de votre gain issu de votre compte
        individuel et de votre gain issu du compte collectif.
    </p>
    <p>&nbsp;</p>
    <h4>
        Exemple
    </h4>
    <p>
        Vous placez 14 jetons sur le compte collectif, et donc 6 jetons
        sur votre compte individuel. Supposons que l'autre membre de votre
        groupe place 12 jetons sur le compte collectif. En tout, il y a
        donc 14+12=26 jetons sur le compte collectif. Votre gain est alors
        égal à 6 ecus (compte individuel) + 0.6 x 26 (compte collectif) =
        21.6 ecus.
    </p>
    <p>&nbsp;</p>
    <h4>
        Derniers détails
    </h4>
    <p>
        La partie repose sur le principe de décision décrit précédemment.
        Elle ne sera réalisée qu'une seule fois, vous n'aurez donc qu'une
        décision à prendre. <br>
        Le taux de conversion est 1 ecu = 0.5 euro.
    </p>