{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {%trans "Summary of part 1" %}
{% endblock %}

{% block content %}

    <p>
        {% blocktrans with endowment=Constants.endowment %}
        You started with an endowment of {{ endowment }} tokens.
        {% endblocktrans %}
        <br><br>
        {% blocktrans with contrib=player.PG_contribution indiv=indiv %}
        You put {{ indiv }} tokens in your individual account and {{ contrib }}
        tokens in the collective account.
        {% endblocktrans %}
        <br><br>
        {% blocktrans %}
        At the end of this online experiment groups of size two will be randomly
        formed. The total number of tokens placed in the collective account by
        you group will then be computed, as well as your payoff for this part of
        this experiment.
        {% endblocktrans %}
        <br><br>
        {% blocktrans %}
        If you are selected to be paid for this experiment, you will earn the
        correponding amount of money for this part.
        {% endblocktrans %}
    </p>

    <p>&nbsp;</p>

    <button class="btn btn-primary btn-large">{% trans "Start part 2" %}</button>

{% endblock %}
