{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Welcome" %}
{% endblock %}

{% block content %}
    <p>
        {% blocktrans %}
        Welcome to this online experiment.
        {% endblocktrans %}
        <br><br>
        {% blocktrans %}
        This experiment is founded by the National Center for Scientific
        Research (CNRS), the University of Montpellier and the Catholic
        University of Lille.
        {% endblocktrans %}
        <br><br>
        {% blocktrans %}
        The experiment will last around 20 minutes. We ask you to not close your
        browser before the end of the experiment. It is also necessary to use
        either a computer or a digital tablet and not your cell phone.
        {% endblocktrans %}
        <br><br>
        {% blocktrans %}
        During the experiment you will accumulate gains. One participant over two
        that will have filled in the whole experiment will be randomly selected to be
        paid according to its gain in the experiment. If you are selected you
        will reveive an email describing the procedure to collect you gain.
        {% endblocktrans %}
    </p>
    <p>&nbsp;</p>

    {% next_button %}

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <center>
        <img src="{% static 'coopfaceonline/logo_um.png' %}" style="width: 100px;" />
        <img src="{% static 'coopfaceonline/logo_catho.png' %}" style="width: 100px;" />
        <img src="{% static 'coopfaceonline/logo_cnrs.svg' %}" style="width: 100px;" />
    </center>
{% endblock %}
